<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <title>Database</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="nav-bar">
        <button class="nav-button"><a class="button-link" href="/">Home</a></button>
        <button class="nav-button"><a class="button-link" href="/history">History</a></button>
        <button class="nav-button"><a class="button-link" href="/status">Status</a></button>
    </div>

    <table style='border:2px solid blue'>
        {%for row in cursor%}
        hi
        {% endfor %}
    </table>

</body>
</html>