<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">


</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/temp_chart">Chart.js</a>
        </li>
        <li class="nav-item">
          <a class="embed-responsive embed-responsive-16by9" href="/is_chart">Initial State</a>
        </li>
      </ul>
    </nav>


    <!-- Table to display data (styled with Bootstrap) -->
    <main role="main" class="container">
        <div  class="embed-responsive embed-responsive-16by9"><iframe src="https://iot.app.initialstate.com/embed/#/tiles/bkt_2kq0tpq8kwjrw1pe"></iframe></div>
    </main>


</body>
</html>