

.nav-bar {
    text-align: center;
}

.nav-button {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: rgb(109, 141, 255);
    color: black;
    border-radius: 8px;
    padding: 10px;
    font-family: "Atkinson Hyperlegible";
    font-size: large;
}

.nav-button:hover {
    background-color: rgb(132, 159, 255);
}

.button-link{
    color: black;
}

.initial-state-screen {
    height: 660px;
}

body{
    background: #282828;
}