

.nav-bar {
    text-align: center;
    border-radius: 20px;
    background-color: #181818;
    width: 90%;
    margin: 10px auto auto;
}

.nav-button {
    margin: 10px 25px 10px;
    background-color: #386da9;
    color: black;
    border-radius: 12px;
    padding: 10px;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: large;
}

.nav-button:hover {
    background-color: rgb(132, 159, 255);
}

.button-link{
    color: black;
}

.initial-state-screen {
    height: 660px;
}

body{
    background: #282828;
}

iframe{
    margin: auto;
    border: none;
    scrolling: no;
    height: 90vh;
    width: 96vw;
    border-radius: 30px;
    padding: 0 1% 1%;

}

h1{
    font-family: "Atkinson Hyperlegible", sans-serif;
    margin: auto;
    padding: 1%;
    text-align: center;
    color: white;
    font-size: xxx-large;
}