

.nav-bar {
    text-align: center;
    border-radius: 20px;
    background-color: #181818;
    width: 90%;
    margin: 1% auto;

}

.nav-button {
    margin: 10px 25px 10px;
    background-color: #386da9;
    color: black;
    border-radius: 12px;
    padding: 0.5%;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: large;
    border-width: thick;
    border-color: lightgrey;
    border-style: solid;
}

.nav-button:hover {
    background-color: rgb(132, 159, 255);
}

.button-link{
    color: black;
}

.initial-state-screen {
    height: auto;
}

body{
    background: #282828;
    height: 80vh;
}

iframe{
    margin: auto;
    border: none;
    height: 80vh;
    width: 98vw;
    border-radius: 15px;
    padding: 0 0 0;
    border: lightgrey;
    border-width: thick;
    border-style: solid;
}

h1{
    font-family: "Atkinson Hyperlegible", sans-serif;
    margin: auto;
    padding: 1%;
    text-align: center;
    color: white;
    font-size: xxx-large;
}